.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.movie{
    padding:15px;
    flex: 0 1 calc(20% - 8px);
}
.movie img{
    width: 250px;
    height: 350px;
}
.movie_container{
    display:flex;
    justify-content:space-around;
    flex-flow: row wrap;
    position: relative;
}